body{
  margin: 0;
  padding: 0;
  background-color: hsl(170, 90%, 34%) ;
width: 100%;
 font-family: Arial, Helvetica, sans-serif;
 height: auto;

}
header{
  display: grid;
  grid-template-columns: auto 10% auto auto;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: hsl(170, 90%, 34%) ;
  z-index: 998;
  transition: box-shadow .4s;

}
header a{
  color: white;
  text-decoration: none;
}
.nav_image{
  margin-left: 50%;
  margin-top: 20px;
  font-weight: 800;
  font-size: x-large;
}
.nav_liner{
  margin-top: 30px;
  margin-left: 20%;
  font-size: large;


}
.nav_liner span{
  color: orange;
}
.nav_liner a{
  margin: 3%;
transition: .5s;
}
.nav_liner a:hover{
  color: orange;
}

.nav_social{
  margin-top: 29px;
  width: 110px;
 margin-left: -10px;
display: grid;
grid-template-columns: auto auto auto;
gap: 10px;
transition: .5s;
}
.nav_social a i{
transition: .5s;

}
.nav_social a i:hover{
  
  color: orange;
}

.nav_close{
  display: none;
}
.nav_app{
  display: none;
}
.navbar{
  display: none;
}
.Home_sectiom{
  display: grid;
  grid-template-columns: 10% 1fr 10%;
}
.Home_centerParent {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Home_centerParent h1{
  color: aliceblue;
  font-size: xxx-large;
  font-weight: 900;
 
}
.Home_centerParent p{
  color: aliceblue;
  
 
 
}
.max-for-img-and-liner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  

}
.Button_nav{
  margin-top: 70px;

}
.Button_nav span{

background-color: orange;
padding: 10px 20px;
margin-right: 60px;
border-radius: 20px;
}
.Button_nav span a{
  color: #000;
  text-decoration: none;
  }
   .Button_nav_2 {
   border: 2px solid orange;
padding: 10px 20px;

border-radius: 20px;
color: orange;
text-decoration: none;
  }

.Liner_for_image1 img{
  width: 50px ;
}
.home_chips{
  position: relative;
  left: 30%;
  top: -47%;
  transform: rotate(370deg);
  width: 300px;
  z-index: 1;
}
.home_chips_1{
  position: relative;
  width: 80px;
  left: 35%;
  top: -65%;
  z-index: 2;

}
.home_chips_2 {
  position: relative;
  width: 80px;
  left: 20%;
  top: -49%;
  z-index: 2;

}
.home_chips_3 {
  position: relative;
  width: 80px;
  right: 60%;
  top: -80%;
  z-index: 2;

}
.home_chips_tomato_1{
  position: relative;
  width: 80px;
  left:  70%;
  top: -91%;
  z-index: 2;

}
.home_chips_tomato_2{
  position: relative;
  width: 80px;
  right:  -15%;
  top: -53%;
  z-index: 2;

}
.home_chips_leaf-3{
  position: relative;
  width: 80px;
  left:  -15%;
  top: -70%;
  z-index: 2;

}
.circle_1{
  position: relative;
  z-index: -1;
  left: 10% ;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: hsl(170, 100%, 28%);
}.circle_2{
  position: relative;
  z-index: 1;
  left: 20%;
  top: 20%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: orange;
}
.show_header{
box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.425) ;
}
.favirustes_center{
  display: grid;
  grid-template-columns: 30% 1fr 30% ;
}
.image_chesess1 img{
  width: 50px;
  padding-top: 80px;
  margin-left: 50%;
  

}
.image_chesess2 img{
  width: 50px;
  margin-right: 20%;
 
}
.liner_favirustes {
  color: aliceblue;
  text-align: center;
}
.liner_favirustes h2{
font-weight: 900;
font-size: x-large;
}
.liner_favirustes p br {
  display: none;
}
.image_selection_for_images img{

 margin-left: 50%;
 margin-top: 10%;
transform: translate(-50%);
width: 180px;
}
.image_assate_image img{
width: 80px;
position: relative;
z-index: 2;
transform: translate(-50%,50%);
left: 50%;
top: -250px
}

.favorites__article{
  position: relative;
  width: 200px;
}
.favorites__image{
  width: 200px;
  scale: .8;
  transition: scale .4s ,filter .4s;
}
.favorites__leaf-1,
.favorites__leaf-2{
  width: 70px;
  position: absolute;
  scale: 0;
  transition: scale .4s .1s;
}
.favorites__leaf-1{
  top: -1rem;
  right: -.5rem;
}
.favorites__leaf-2{
  bottom: -1rem;
  left: -.5rem;


}

.favorites__swiper{
 width: 60%;
}
.Back_gorund_and_liner{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: aliceblue;
  background-color:  hsl(170, 100%, 28%);
}
.Swiperclick{
  cursor: pointer;
}
.liner_ADS h1{

font-family: 900;
font-size: xxx-large;
}
.max_image_liner{
  text-align: start;
}
.max_image_liner .image_cop{
  text-align: end;
}
.image_cop  img{
  width: 50%;
  margin-right: 30px;
  text-align: end;
}
.PH{
  display: grid;
  grid-template-columns: auto 1fr;
}
.liner_image p{
font-size: large;
margin-left: 30px;
}
.liner_image i{

  color:  #ffc559;
margin-right: 30px;

}

.max_image_liner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Backing_for_round{
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: xx-large;
  background-color: #ffc20a;
  color: #664d00;
  
}
.liner_A_image{
  text-align: end;
  margin-right: 40px;
}
.liner_A_image h1{
  font-weight: 900;
}
.liner_B_image h1{
  font-weight: 900;
}
.liner_B_image{
  margin-left: 90px;

}
.Image_and_liner_for_sale{
  margin-top: 90px;

text-align: center;
color: aliceblue;
font-size: xx-large;

}


.liner_for_sale h1{
  font-weight: 900;
text-align: center;

}

.image_sale{
  width: auto;
  background-color: hsl(170, 100%, 28%);
  border-radius: 20px;
  height: 400px;
margin-left: 30%;
margin-right: 20%;
margin-top: 20%;
  
}
.image_sale img{
  position: relative;
  top: -80px;
  width: 180px;
  transition: .8s;
}
.image_sale:hover img{
transform:  translateY(-10%);
}
.image_sale p{
  text-align: start;
  margin: 0;
  margin-left:40px;
}
.image_sale h1{
  text-align: start;
  margin: 0;
  margin-top: 10px;
  margin-left:40px;
  margin-bottom: 20px;
  font-size: xx-large;
  font-weight: 900;

}

.icon_image_1 img{
  width: 60px;
  position: relative;
  z-index: 2;

  left: 70%;
top: -400px;
transform: rotate(330deg);
}

.icon_image_2 img{
  width: 60px;
  position: relative;
  z-index: 2;

  left: 1%;
top: -980px;
  z-index: -2;
  transform: rotate(390deg);

}
.p_s{
  display: grid;
  grid-template-columns: 1fr auto;
}
.span_postion {
  position: relative;
  top: -40px;
}
.p_s button{
  background-color: #ffc20a;
  color: #664d00;
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  margin-right: 40px;
  cursor: pointer;
}
.max_for_image_sale{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2% ;
}
.Backing_for_ADS{
  width: 80%  ;
  text-align: center;
  border-radius: 60px;
  background-color: hsl(170, 100%, 28%);
  margin-left: 10%;
  color: aliceblue;
}
.liner_ADS h1{
  padding-top: 80px;
  font-weight: 900;
}
.max_for_image_liner_ADS{
  display: grid;
  grid-template-columns: auto auto;
}
.image_max_ADS img{

width: 420px;
}
.liner_maxs{
  text-align: start;
  margin-left: 30%;
}
.liner_maxs h3{
  font-weight: 900;
  font-size: x-large;
}
.liner_maxs .icon_a-herf a{ 
  color: orange;
  text-decoration: none;
}
footer{
  margin-top: 200px;
  text-align: center;
  color: aliceblue;
}
footer h1{
  font-size: xxx-large;
  font-weight: 900;
}
footer a{
  color: aliceblue;
  text-decoration: none;
  padding: 20px;
  font-size: x-large;

  
}
footer p{
  margin-top: 40px;
}
@media (max-width: 1391px) {
  body{
    margin: 0;
    padding: 0;
    background-color: hsl(170, 90%, 34%) ;
  
   font-family: Arial, Helvetica, sans-serif;
   height: 6600px;
  }
  header{
    display: grid;
    grid-template-columns: auto 5% auto auto;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: hsl(170, 90%, 34%) ;
    z-index: 998;
    transition: box-shadow .4s;
  
  }
  header a{
    color: white;
    text-decoration: none;
  }
  .nav_image{
    margin-left: 50%;
    margin-top: 20px;
    font-weight: 900;
    font-size: large;
  }
  .nav_liner{
    margin-top: 30px;
    margin-left: 5%;
    font-size: medium;
  
  
  }
  .nav_liner span{
    color: orange;
  }
  .nav_liner a{
    margin: 3%;
  transition: .5s;
  }
  .nav_liner a:hover{
    color: orange;
  }
  
  .nav_social{
    margin-top: 29px;
    width: 110px;
   margin-left: -10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  transition: .5s;
  }
  .nav_social a i{
  transition: .5s;
  
  }
  .nav_social a i:hover{
    
    color: orange;
  }
  
  .nav_close{
    display: none;
  }
  .nav_app{
    display: none;
  }
  .navbar{
    display: none;
  }
  .Home_sectiom{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 0;
  }
  .Home_centerParent {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr ;
    text-align: center;
    margin-left: 80%;
  }
  .Home_sectiom .emp{
    display: none;
  }
  .Home_centerParent h1{
    color: aliceblue;
    font-size: xxx-large;
    font-weight: 900;
   
  }
  .Home_centerParent p{
    color: aliceblue;
    
   
   
  }
  .max-for-img-and-liner{
    display: grid;
    grid-template-columns: 1fr ;
    
  
  }
  .max-for-img-and-liner .emp{
    display: none;
  }
  .Button_nav{
    margin-top: 20px;
  
  }
  .Button_nav span{
  
  background-color: orange;
  padding: 10px 20px;
  margin-right: 60px;
  border-radius: 20px;
  }
  .Button_nav span a{
    color: #000;
    text-decoration: none;
    }
     .Button_nav_2 {
     border: 2px solid orange;
  padding: 10px 20px;
  
  border-radius: 20px;
  color: orange;
  text-decoration: none;
    }
  
  .max-for-img-and-liner img{
    
    margin-top: 0;
    margin-left: 0;
  
  }
  .Liner_for_image1 img{
    width: 40px ;
  }
  .home_chips{
    position: relative;
    left: 290px;
    top: -29%;
    transform: rotate(370deg);
    width: 300px;
    z-index: 1;
  }
  .home_chips_1{
    position: relative;
    width: 80px;
    left: 300px;
    top: -440px;
    z-index: 2;
  
  }
  .home_chips_2 {
    position: relative;
    width: 80px;
    left: 180px;
    top: -300px;
    z-index: 2;
  
  }
  .home_chips_3 {
    position: relative;
    width: 80px;
    right: 200px;
    top: -400px;
    z-index: 2;
  
  }
  .home_chips_tomato_1{
    position: relative;
    width: 80px;
    left:  10%;
    top: -91%;
    z-index: 2;
  
  }
  .home_chips_tomato_2{
    position: relative;
    width: 80px;
    right:  -15%;
    top: -53%;
    z-index: 2;
  
  }
  .home_chips_leaf-3{
    position: relative;
    width: 80px;
    left:  -15%;
    top: -70%;
    z-index: 2;
  
  }
  .circle_1{
    position: relative;
    z-index: -1;
    left: 290px ;
    top: 20%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: hsl(170, 100%, 28%);
  }.circle_2{
    position: relative;
    z-index: 1;
    left: 20%;
    top: 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: orange;
  }
  .show_header{
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.425) ;
  }
}
@media (max-width:950px) {
  body{
    height: auto;
  }
  header{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: hsl(170, 90%, 34%) ;
    z-index: 999;
    transition: box-shadow .4s;
  
  }
  header a{
    color: white;
    text-decoration: none;
  }
  .navbar a{
    color: white;
    text-decoration: none;
  }
  .nav_image{
    margin-left: 10%;
    margin-top: 20px;
    font-weight: 900;
    font-size: large;
  }
  .nav_liner_mobile{
    margin-top: 12%;
    margin-left: 10%;
    font-size: medium;
  
  
  }
  .nav_liner_mobile span{
    color: aliceblue;
    transition: .5s;
  } 
  .nav_liner_mobile span:hover{
    color: orange;
  }
  .nav_liner_mobile a{
    display: grid;
    margin-bottom: 10%;
  transition: .5s;
  }
  .nav_liner_mobile a:hover{
    color: orange;
  }
  
  .nav_social_mobile{
    margin-top: 29px;
    
    margin-left: 10%;

  display: grid;
  grid-template-columns: 1fr auto auto auto;

  transition: .5s;
  }

  .nav_social_mobile a i{
  margin-right: 10px;
  transition: .5s;
  
  }
  .nav_social_mobile a i:hover{
    
    color: orange;
  }
  
  .nav_close{
    display: block;
    color: aliceblue;
    margin-left: 80%;
    margin-bottom: 10%;
    cursor: pointer;
    transition: .5s;
  }
  .nav_close:hover{
color: orange;
  }
  .nav_app{
    display: block;
    color: aliceblue;
    margin-top: 26px;
  cursor: pointer;
  }
  
  .nav_liner{
    display: none;
  }
  .nav_social{
    display: none;
  }
  .navbar{
    display: flex;
    flex-direction: column;
   
    position: fixed;
    transition: left .4s;
    top: 0;
    right:  -100%;
    width: 40% ;
    height: 100%;
    background-color: hsl(170, 100%, 28%);
    z-index: 1000;
    transition: 1s;
  }
 
.Home_sectiom{
  display: grid;
  grid-template-columns: 10% ;
}
.Home_centerParent {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr ;
}
.Home_centerParent h1{
  margin-top: 150px;
  text-align: center;
  color: aliceblue;
  font-size: xx-large;
  font-weight: 900;
 
}
.Home_centerParent p{
  color: aliceblue;
  
 
 
}
.max-for-img-and-liner{
  display: grid;
  grid-template-columns: 1fr ;
  

}
.Button_nav{
  margin-top: 70px;

}
.Button_nav span{

background-color: orange;
padding: 10px 20px;
margin-right: 60px;
border-radius: 20px;
}
.Button_nav span a{
  color: #000;
  text-decoration: none;
  }
   .Button_nav_2 {
   border: 2px solid orange;
padding: 10px 20px;

border-radius: 20px;
color: orange;
text-decoration: none;
  }

.Liner_for_image1 img{
  width: 50px ;
}
.home_chips{
  position: relative;
  left: 25%;
  top: -15%;
  transform: rotate(370deg);
  width: 200px;
  z-index: 1;
}
.home_chips_1{
  position: relative;
  width: 80px;
  left: 16%;
  top: -29%;
  z-index: 2;

}
.home_chips_2 {
  position: relative;
  width: 80px;
  left: 80%;
  top: -25%;
  z-index: 2;

}
.home_chips_3 {
  position: relative;
  width: 80px;
  right: 25%;
  top: -55%;
  z-index: 2;

}
.Home_this_chips {
  margin-top: 120px;
}
.home_chips_tomato_1{
  position: relative;
  width: 80px;
  left:  14%;
  top: -55%;
  z-index: 2;

}
.home_chips_tomato_2{
  position: relative;
  width: 100px;
  right:  15%;
  top: -35%;
  z-index: 2;

}
.home_chips_leaf-3{
  position: relative;
  width: 100px;
  left:  -45%;
  top: -55%;
  z-index: 2;

}
.circle_1{
  position: relative;
  z-index: -1;
  left: 5% ;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: hsl(170, 100%, 28%);
}.circle_2{
  position: relative;
  z-index: 1;
  left: 18%;
  top: 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: orange;
}
.show_header{
box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.425) ;
}
.favirustes_center{
  display: grid;
  grid-template-columns: 10% 1fr 20% ;
}
.image_chesess1 img{
  width: 50px;
  padding-top: 80px;
  margin-left: 50%;
  

}
.image_chesess2 img{
  width: 50px;
  margin-right: 20%;
 
}
.liner_favirustes {
  color: aliceblue;
  text-align: center;
}
.liner_favirustes h2{
font-weight: 900;
font-size: medium;
margin-left: 40px;

}
.liner_favirustes p br {
  display: none;
}
.liner_favirustes p  {
font-size: small;
margin-left: 40px;
}
.image_selection_for_images img{

 margin-left: 50%;
 margin-top: 10%;
transform: translate(-50%);
width: 80px;
margin-top: 80px;

}
.image_assate_image img{
width: 50px;
position: relative;
z-index: 2;
transform: translate(-50%,50%);
left: 35%;
top: -200px;

}
.image_leaf_2{
  margin-top: 150px;
  margin-right: 50px;
}
.image_leaf_1{
 position: relative;
 top: -170px;
 left: 60px;
}
.set_for_image{
  display: grid;
  grid-template-columns: auto auto auto;
}

.Back_gorund_and_liner{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: aliceblue;
  background-color:  hsl(170, 100%, 28%);
}
.liner_ADS h1{

font-family: 900;
font-size: xx-large;
}
.max_image_liner{
  text-align: start;
}
.max_image_liner .image_cop{
  text-align: center;
}
.image_cop  img{
  width: 50%;
  margin-right: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.PH{
  display: grid;
  grid-template-columns: auto 1fr;
}
.liner_image p{
font-size: large;
margin-left: 30px;
}
.liner_image i{

  color:  #ffc559;
margin-right: 30px;

}

.max_image_liner{
  display: grid;
  grid-template-columns: 1fr ;
}
.Backing_for_round{
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: xx-small;
  background-color: #ffc20a;
  color: #664d00;
  
}
.liner_A_image{
  text-align: end;
  margin-right: 0;
}
.liner_A_image h1{
  font-weight: 900;
}
.liner_B_image h1{
  font-weight: 900;
}
.liner_B_image{
  margin-left: 40px;

}
.Image_and_liner_for_sale{
  margin-top: 90px;

text-align: center;
color: aliceblue;
font-size: x-large;

}


.liner_for_sale h1{
  font-weight: 900;
text-align: center;
margin-bottom: 100px;

}

.image_sale{
  width: 100%;
  background-color: hsl(170, 100%, 28%);
  border-radius: 20px;
  height: 200px;
margin-left: 0;
margin-right: 20%;
margin-top: 20%;
  
}
.image_sale img{
  position: relative;
  top: -50px;
  width: 80px;
  transition: .8s;
}
.image_sale:hover img{
transform:  translateY(-10%);
}
.image_sale p{
  text-align: start;
  font-size: x-small;
  margin: 0;
  margin-left:10px;
}
.image_sale h1{
  text-align: start;
  margin: 0;
  margin-top: 10px;
  margin-left:10px;
  margin-bottom: 20px;
  font-size: medium;
  font-weight: 900;

}

.icon_image_1 img{
  width: 60px;
  position: relative;
  z-index: 2;

  left: 80%;
top: -100px;
transform: rotate(330deg);
}

.icon_image_2 img{
  width: 60px;
  position: relative;
  z-index: 2;

  left: 1%;
top: -590px;
  z-index: -2;
  transform: rotate(390deg);

}
.p_s{
  display: grid;
  grid-template-columns: 1fr auto;
}
.span_postion {
  position: relative;
  top: -40px;
}
.p_s button{
  background-color: #ffc20a;
  color: #664d00;
  border: 0;
  padding: 5px 5px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.max_for_image_sale{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:2% ;
}
.Backing_for_ADS{
  width: 90%  ;
  text-align: center;
  border-radius: 60px;
  background-color: hsl(170, 100%, 28%);
  margin-left: 5%;
  color: aliceblue;
}
.liner_ADS h1{
  padding-top: 80px;
  font-weight: 900;
  font-size: medium;
}
.max_for_image_liner_ADS{
  display: grid;
  grid-template-columns: 1fr ;
}
.image_max_ADS img{

width: 220px;
}
.liner_maxs{
  text-align: start;
  margin-left: 10%;
}
.liner_maxs h3{
  font-weight: 900;
  font-size: x-large;
}
.liner_maxs .icon_a-herf a{ 
  color: orange;
  text-decoration: none;
}
footer{
  margin-top: 200px;
  text-align: center;
  color: aliceblue;
  
}
footer h1{
  font-size: x-large;
  font-weight: 900;
}
footer a{
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
  font-size: large;

  
}
footer p{
  margin-top: 40px;
margin-bottom: 40px;

}
.favorites__swiper{
  width: 80%;
 }
}